$border-radius: 5px;

.connect-content {
  background: #E7E7E7;
  &.jawbone {
    background: white;
  }

  padding: 10px;

  .connect-logo {
    display: block;

    margin: 0 auto;

    width: 80%;
    height: 150px;
    
    background: url('../img/connect-account.png') no-repeat center center;
    background-size: contain;
  }

  .connect-jawbone {
    display: block;

    margin: 0 auto;

    width: 80%;
    height: 150px;
    
    background: url('../img/connect-jawbone.png') no-repeat center center;
    background-size: contain;
  }

  .description {
    text-align: center;
    color: #000000;
  }

  .status {
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;

    &.ok {
      color: #03AF01;
      text-transform: capitalize;
    }
  }

  .connect-form {
    margin-bottom: 10px;
    
    .round-input {
      &:first-child {
        margin-top: 15px;
      }
    }

    .landing-button {
      margin-top: 20px;
    }
  }
}