.link-invisible {
  position: absolute !important;
  display: block  !important;

  margin: 0  !important;
  padding: 0  !important;

  top: 0  !important;
  left: 0  !important;

  background: transparent  !important;

  width: 100%  !important;
  height: 100%  !important;
}