/* .tabs {
  margin: 0;
  padding: 0;

  background: red;

  .tab {
    display: inline-block;
    width: 20%;

    padding: 5px;
    margin: 0;

    background: #ff0000;

    box-sizing: border-box;

    text-align: center;

    color: #929292;

    line-height: 26px;
    vertical-align: middle;

    cursor: pointer;

    &.active {
      background: #494949;
      color: #ffffff;
    }

    &:hover {
      background: darken(#494949, 10);
    }

    span {
      display: block;

      line-height: 15px;

      margin: 0;
      padding: 0;

      font-size: 0.6em;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
} */
