.trainers-content {

  .tab-trainers {
    .list {
      .card-view {
        display: block;
        margin-bottom: 6px;
        cursor: pointer;

        .item-image {
          height: 250px;
        }      

        .curtain {
          position: absolute;
          display: block;
          
          z-index: 100;
          
          width: 100%;
          height: 100%;
          
          top: 0;
          left: 0;
          
          background: linear-gradient(to bottom, 
            rgba(30,87,153,0) 0%,
            rgba(13,37,66,0) 57%,
            rgba(0,0,0,0.5) 100%);
        }

        .item-image {
          .back {
            position: absolute;
            display: block;
          }

          .front {
            position: absolute;
            display: block;
            width: 100%;
            top: -20px;
            left: 0;
          }
        }

        .main-title {
          position: absolute;
          display: block;

          z-index: 1000;

          padding: 5px 10px;
          
          top: calc(100% - 65px);
          left: 0;
          
          width: 100%;
          height: 65px;
          
          word-break: break-word;
          
          font-weight: 400;

          color: white;
          background: transparent;

          overflow: hidden;

          span {
            display: block;
            vertical-align: bottom;

            &.main {
              font-size: 1.5em;
              font-weight: 500;

              line-height: 30px;
            }

            &.sub {
              font-size: 1.2em;

              line-height: 15px;
            }
          }
        }

        

      }

    }
  }
}