$header-height: 44px;
$footer-height: 50px;

.bar-tab {

  margin: 0;
  padding: 0;
  font-size: 1em;
  background: #000000;

  .tab-item {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6F6F6F;

    &.active {
      background: #464646;
      color: #ffffff;
    }
  }
  
  .tab-label {
    font-size: 0.4em !important; 
    line-height: 15px !important;
    margin: 0; 
    display: block; 
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
}

.tab {
  display: block;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  overflow-y: auto;

  // margin: 44px 0 0 0;
  // background: #D4D4D4;

  .content {
    margin: 0;
    padding: 0;

    height: calc(100% - 50px);
    width: 100%;

    overflow-y: auto !important;

    .tab-videos {
      overflow-y: auto !important;

      .list {
        overflow-y: auto !important;
      }
    }

    .tab-view{

      .list {
        margin: 0;
        padding: 0;

        .card-view {
          position: relative;

          .item {
            border-radius: 0;
            border: 0;
            box-shadow: none;
          }

          .item-footer {

            .main-title {
              display: block;
              width: 100%;
              font-size: 1.3em;
            }
            .sub-title {
              font-size: 0.9em;
            }

            .up-title {
              font-weight: 600;
              font-size: 1em;
              text-transform: uppercase;
              display: block;
              margin-bottom: 5px;
            }
          }

          .time-duration {

            position: absolute;
            display: inline-block;
            top: 260px;
            border: 0;
            left: calc(100% - 45px);

            font-size: 0.9em;
            font-weight: 500;
            color: #ffffff;
            text-align: center;


            width: 45px;
            height: 20px;

            padding: 0;
            margin: 0;

            background: #FC0196;
          }
        }
      }
    }
  }

  .tabs {
    margin: 0;
    padding: 0;

    // height: $footer-height;
    width: 100%;

    background: yellow;
  }
}