<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cosmobody - Login</title>
  
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no"> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="../css/main.min.css" />

  <script type="text/javascript" src="../js/ratchet.min.js"></script>
</head>
<body>
  
  <div class="login">
    <div class="top">
      <a href="#/"> < Back </a>
    </div>
    <div class="center">
      <div class="logo"></div>
      <input type="text" class="round-input" placeholder="E-mail" />
      <input type="password" class="round-input" placeholder="Password" />
      <a class="pink-button landing-button" href="tabs/tab-home.html">Log in</a>
    </div>
    <div class="bottom">
      <a class="center" href="#/"> Forgot Password? </a>
    </div>
  </div>
  
</body>
</html>