<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="#"></a>
      <h1 class="title">Settings</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content settings-content">
      <ul class="table-view">
        <li class="table-view-cell">
          <a class="navigate-right" href="settings-account.html">
            Connect your account
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right">
            Connect your Jawbone
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right">
            Follow us
          </a>
        </li>
      </ul>
      
      <ul class="links-group">
        <li class="link">
          <a href="#">
            Feedback
          </a>
        </li>
        <li class="link">
          <a href="#">
            Account Questions
          </a>
        </li>
        <li class="link">
          <a href="#">
            Terms of Use
          </a>
        </li>
        <li class="link">
          <a href="#">
            Privacy Policy
          </a>
        </li>
        <li class="link">
          <a href="#">
            VPPA Policy
          </a>
        </li>
        <li class="link">
          <a href="#">
            Your California Privacy Rights
          </a>
        </li>
        <li class="link">
          <a href="#">
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </section>

  <script type="text/javascript" src="../../js/ratchet.min.js"></script>
</body>
</html>