<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Account questions</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="../tabs/tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="../tabs/tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="../tabs/tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="../tabs/tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="../tabs/tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content text-content padded">
      <p class="bold">
        Q: I signed up for Cosmobody online. How do I access it on my phone or tablet?
      </p>
      <p>
        A: Easy! Simply download our free mobile apps for iOS or Android. You'll have instant access to streaming workouts on-the-go.
      </p>
      <p class="bold">
        Q: I signed up for Cosmobody online. How do I access it on my phone or tablet?
      </p>
      <p>
        A: Easy! Simply download our free mobile apps for iOS or Android. You'll have instant access to streaming workouts on-the-go.
      </p>
      <p class="bold">
        Q: I signed up for Cosmobody online. How do I access it on my phone or tablet?
      </p>
      <p>
        A: Easy! Simply download our free mobile apps for iOS or Android. You'll have instant access to streaming workouts on-the-go.
      </p>
    </div>


  </section>
</body>
</html>