<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="feedback">

    <div class="bar bar-nav">
      <a class="icon pull-left" href="settings.html">
        Cancel
      </a>
      <a class="icon bold pull-right" href="#">
        Send
      </a>
      <h1 class="title">Feedback</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="../tabs/tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="../tabs/tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="../tabs/tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="../tabs/tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="../tabs/tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content feedback-content">
      <ul class="table-view">
        <li class="table-view-cell">
          <span class="sub">To:</span>
          <span class="mail">Feedback@CosmoBody.com</span>
        </li>
        <li class="table-view-cell">
          <span class="sub">Cc/Bcc, From:</span>
          <span class="sub">kimk@kanye.com</span>
        </li>
        <li class="table-view-cell">
          <span class="sub">Subject:</span>
          <span class="subject">Feedback</span>
        </li>
        <li class="table-view-cell message input-row">
          <textarea placeholder="Your message goes here..."></textarea>
        </li>
      </ul>
    </div>


  </section>

  <script type="text/javascript" src="../../js/ratchet.min.js"></script>
</body>
</html>