<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Connect your account</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content settings-content">
      <div class="login">
      <div class="top">
        <a href="#/"> < Back </a>
      </div>
      <div class="center">
        <div class="logo"></div>
        <input type="text" class="round-input" placeholder="First name" />
        <input type="text" class="round-input" placeholder="Last name" />
        <input type="text" class="round-input" placeholder="E-mail" />
        <input type="password" class="round-input" placeholder="Password" />
        <a class="pink-button landing-button" href="tabs/tab-home.html">Log in</a>
      </div>
      <div class="bottom">
        <a class="center" href="#/"> Forgot Password? </a>
      </div>
    </div>
    </div>


  </section>

  <script type="text/javascript" src="../../js/ratchet.min.js"></script>
</body>
</html>