<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="../tabs/tab-search.html"></a>
      <h1 class="title">VPPA Policy</h1>
    </div>

    <nav class="bar bar-tab bar-footer">
      <div class="tabs">
        <a class="tab-item" href="../tabs/tab-home.html">
          <span class="icon-dash icon-block"></span>
          <span class="tab-label">Home</span>
        </a>
        <a class="tab-item" href="../tabs/tab-workouts.html">
          <span class="icon-workouts icon-block"></span>
          <span class="tab-label">Workouts</span>
        </a>
        <a class="tab-item" href="../tabs/tab-programs.html">
          <span class="icon-programs icon-block"></span>
          <span class="tab-label">Programs</span>
        </a>
        <a class="tab-item" href="../tabs/tab-trainers.html">
          <span class="icon-trainers icon-block"></span>
          <span class="tab-label">Trainers</span>
        </a>
        <a class="tab-item" href="../tabs/tab-history.html">
          <span class="icon-history icon-block"></span>
          <span class="tab-label">My history</span>
        </a>
      </div>
    </nav>

    <div class="content text-content">
      <div class="cosmo-logo"></div>
      <p class="center">
        VPPA DISCLOSURE (OR "SHARING") STATEMENT
      </p>
      <p>
        As a subscriber to Cosmobody, Hearst Digital Studios ("we" or "us" or "our") may share information about the content you have watched on our service. We may share that information to enable us to provide you with our services, for our or others' marketing purposes, and to help you inform others about your experiences with Cosmobody on social media services such as Facebook and Twitter. By checking the box next to "Share my viewing history" you agree to this use. If you no longer wish us to share information about what you have watched on our service, you can cancel your subscription at any time. For more information about how we collect, use, and share information, see our Privacy Policy.
      </p>
    </div>


  </section>
</body>
</html>
