<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Follow us</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="../tabs/tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="../tabs/tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="../tabs/tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="../tabs/tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="../tabs/tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content follow-content">
      <ul class="social">
        <li>
          <img src="../../img/follow/facebook.png">
          <span class="description">Facebook</span>
        </li>
        <li>
          <img src="../../img/follow/twitter.png">
          <span class="description">Twitter</span>
        </li>
        <li>
          <img src="../../img/follow/instagram.png">
          <span class="description">Instagram</span>
        </li>
        <li>
          <img src="../../img/follow/youtube.png">
          <span class="description">Youtube</span>
        </li>
      </ul>
    </div>


  </section>
</body>
</html>