<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="../tabs/tab-search.html"></a>
      <h1 class="title">Connect your account</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="../tabs/tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="../tabs/tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="../tabs/tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="../tabs/tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="../tabs/tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content connect-content">
      <div class="connect-logo"></div>
      <p class="description">
        You will need to connect your subscription to a CosmoBody account in order to access our services via the web or non-iOS devices.
      </p>
      <form class="connect-form">
        <input type="text" class="round-input" placeholder="First name" />
        <input type="text" class="round-input" placeholder="Last name" />
        <input type="text" class="round-input" placeholder="E-mail" />
        <input type="password" class="round-input" placeholder="Password" />
        <button class="pink-button landing-button">Submit</button>  
      </form>
    </div>


  </section>
</body>
</html>