<!DOCTYPE html>
<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="settings">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="settings.html"></a>
      <a class="icon icon-search pull-right" href="../tabs/tab-search.html"></a>
      <h1 class="title">Terms of Use</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="../tabs/tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="../tabs/tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="../tabs/tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="../tabs/tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="../tabs/tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content text-content">
      <div class="cosmo-logo"></div>
      <p class="center">Last revised on: April 23, 2013</p>
      <p>
        This Terms of Use covers Hearst Communications, Inc.'s and its Affiliates' (collectively, "Hearst") web sites, mobile-optimized versions of the web sites, and digital applications to which this Terms of Use is linked (collectively, "Covered Sites"). As used in this Terms of Use, an entity controlling, controlled by, or under common control with another entity shall be deemed to be an "Affiliate", where control means ownership of 15% or more of the voting stock or other ownership interests. Certain features of the Covered Sites may be subject to additional guidelines, terms, or rules, which will be posted on the Covered Site in connection with such features. All such additional terms, guidelines, and rules are incorporated by reference into this Agreement. Capitalized terms not otherwise defined in this Agreement have the meaning given to such term in the Hearst privacy policy. The privacy policy is hereby incorporated by this reference into this Agreement.
      </p>
      <p>
        THESE TERMS OF USE ("AGREEMENT") SETS FORTH THE LEGALLY BINDING TERMS FOR YOUR USE OF THE COVERED SITES. BY ACCESSING OR USING THE COVERED SITES, YOU ARE ACCEPTING THIS AGREEMENT (ON BEHALF OF YOURSELF OR THE ENTITY THAT YOU REPRESENT) AND YOU REPRESENT AND WARRANT THAT YOU HAVE THE RIGHT, AUTHORITY, AND CAPACITY TO ENTER INTO THIS AGREEMENT (ON BEHALF OF YOURSELF OR THE ENTITY THAT YOU REPRESENT). IF YOU DO NOT AGREE WITH ALL OF THE PROVISIONS OF THIS AGREEMENT, DO NOT ACCESS AND/OR USE THE COVERED SITES.
      </p>
      <p>
        1. Username and Passwords. When you create a User Registration (as described in the Privacy Policy), you represent and warrant that: (a) all required registration information you submit is truthful and accurate; and (b) you will maintain the accuracy of such information. You will be responsible for maintaining the confidentiality of your User Registration, and we will not be responsible for misuse of your User Registration by any third party, whether authorized by you or not. You are responsible for all activities that occur under your User Registration. You agree to immediately notify Hearst of any unauthorized use, or suspected unauthorized use of your User Registration or any other breach of security. Hearst cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
      </p>
      <p>
        2. Licenses
      </p>
      <p>
        2.1 License. Subject to the terms of this Agreement, Hearst grants you a non-transferable, non-exclusive, license to use the Covered Sites for your personal, noncommercial use. Subject to the terms of this Agreement, Hearst grants you a non-transferable, non-exclusive, license to install and use the software Hearst makes available for mobile devices ("Apps"), in executable object code format only, solely on your own handheld mobile device and for your personal, noncommercial use. For the avoidance of doubt, Apps are deemed part of the Covered Sites.
      </p>
      <p>
        2.2 Certain Restrictions. The rights granted to you in this Agreement are subject to the following restrictions: (a) you shall not license, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Covered Sites; (b) you shall not modify, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Covered Sites; (c) you shall not access the Covered Sites in order to build a similar or competitive service; and (d) except as expressly stated herein, no part of the Covered Sites may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means. 
      </p>
    </div>


  </section>
</body>
</html>