.bar-tab {

  margin: 0;
  padding: 0;
  /* width: 100%; */

  border: 0;
  background: #000000;

  .tab-item {
    margin: 0 !important;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    color: #6F6F6F;

    &.active {
      background: #464646;
      color: #ffffff;
    }

    &:active {
      background: darken(#464646, 10);
      color: darken(#ffffff, 20);
    }
  }

  .tab-label {
    font-size: 0.4em !important;
    line-height: 15px !important;
    margin: 0;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
  }

}
