<!DOCTYPE html>
<html>
<head>
  <title>Programs - Get started</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="tab-videos">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="#"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Get Started</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item active" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content">
      <ul class="table-view higher">
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/preview_home_1.png" width="100" />
          <div class="item time-duration">
            11:40
          </div>
          <div class="media-body">
            <span class="up-title">Day 1</span>
            <span class="main-title">Sunrise Beach Warm Up</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/preview_home_1.png" width="100" />
          <div class="item time-duration">
            11:40
          </div>
          <div class="media-body">
            <span class="up-title">Day 1</span>
            <span class="main-title">Sunrise Beach Warm Up</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/preview_home_1.png" width="100" />
          <div class="item time-duration">
            11:40
          </div>
          <div class="media-body">
            <span class="up-title">Day 1</span>
            <span class="main-title">Sunrise Beach Warm Up</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/preview_home_1.png" width="100" />
          <div class="item time-duration">
            11:40
          </div>
          <div class="media-body">
            <span class="up-title">Day 1</span>
            <span class="main-title">Sunrise Beach Warm Up</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</body>
</html>