<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Katia Pryce</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1"> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="../../css/main.min.css">
  <script type="text/javascript" src="../../js/ratchet.min.js"></script> 

</head>
<body>

  <div class="bar bar-nav">
    <a class="icon icon-bars pull-left" href="../settings/settings.html"></a>
    <a class="icon icon-search pull-right" href="tab-search.html"></a>
    <h1 class="title">Katia Pryce</h1>
  </div>

  <nav class="bar bar-tab bar-footer">
    <a class="tab-item" href="tab-home.html">
      <span class="icon-dash icon-block"></span>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="tab-workouts.html">
      <span class="icon-workouts icon-block"></span>
      <span class="tab-label">Workouts</span>
    </a>
    <a class="tab-item" href="tab-programs.html">
      <span class="icon-programs icon-block"></span>
      <span class="tab-label">Programs</span>
    </a>
    <a class="tab-item active" href="tab-trainers.html">
      <span class="icon-trainers icon-block"></span>
      <span class="tab-label">Trainers</span>
    </a>
    <a class="tab-item" href="tab-history.html">
      <span class="icon-history icon-block"></span>
      <span class="tab-label">My history</span>
    </a>
  </nav>

  <div class="content trainer-content tab-videos">

    <div class="trainer-info">
      <img src="../../img/trainers/katia/katia.png">
      <span class="info">
        You're about to feel fitter, stronger and sexier, thanks to Katia's hot (hot, hot!) dance-based cardio and strength workouts. Her fluid, feminie moves will help you sculpt a slim, enviable dancer's physique-think tight abs and a perky butt. Plus, you'll love Katia's nothing's-off-limits straight talk.
      </span>
      <button class="pink-button landing-button">Meet Katia</button>
    </div>
    <div class="videos">
      <h2>Katia's videos</h2>
      <ul class="table-view">
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/trainers/katia/video-1.jpg" width="100" />
          <div class="item time-duration">
            7:29
          </div>
          <div class="media-body">
            <span class="main-title">Smokin' Hot Dance Cardio</span>
            <span class="sub-title">Intermediate</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/trainers/katia/video-2.jpg" width="100" />
          <div class="item time-duration">
            12:03
          </div>
          <div class="media-body">
            <span class="main-title">Score Lean Dancer Legs</span>
            <span class="sub-title">Beginner</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/trainers/katia/video-3.jpg" width="100" />
          <div class="item time-duration">
            15:48
          </div>
          <div class="media-body">
            <span class="main-title">Get Head-to-Toe Strong</span>
            <span class="sub-title">Advanced</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/trainers/katia/video-4.jpg" width="100" />
          <div class="item time-duration">
            11:46
          </div>
          <div class="media-body">
            <span class="main-title">Score Your Seciest Abs</span>
            <span class="sub-title">Intermediate</span>
          </div>
        </li>
        <li class="table-view-cell">
          <img class="media-object pull-left" src="../../img/trainers/katia/video-5.jpg" width="100" />
          <div class="item time-duration">
            14:55
          </div>
          <div class="media-body">
            <span class="main-title">Tighten & Tone: Butt</span>
            <span class="sub-title">Intermediate</span>
          </div>
        </li>
      </ul>
    </div>

  </div>
</body>
</html>