<!DOCTYPE html>
<html>
<head>
  <title>Cosmobody - Workouts</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="tab-workouts tab-videos">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="../settings/settings.html"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Workouts</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item active" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <!--
    **** Example of using CSS in workouts ****
    
    <ul class="table-view">
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio.jpg" />
        <div class="curtain"></div>
        <div class="rect">
          <span class="text">Cardio</span>  
        </div>
      </li>
    </ul>
     -->


    <div class="content">
      <ul class="table-view">
        <li class="table-view-cell">
          <a class="link-invisible" href="tab-workouts-workout.html"></a>
          <img src="../../img/workouts/cardio.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/strength.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/dance.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/abs.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/yoga.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/under-15-min.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/upperbody.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/lowerbody.jpg">
        </li>
        <li class="table-view-cell">
          <img src="../../img/workouts/fullbody.jpg">
        </li>
      </ul>
    </div>
  </section>

  <!-- // <script type="text/javascript" src="../../js/ratchet.min.js"></script> -->
</body>
</html>