<!DOCTYPE html>
<html>
<head>
  <title>Cosmobody - Trainers</title>
  <link rel="stylesheet" href="../../css/main.min.css" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>
<body>
  <section class="tab-trainers tab-videos">

    <div class="bar bar-nav">
      <a class="icon icon-bars pull-left" href="#"></a>
      <a class="icon icon-search pull-right" href="#"></a>
      <h1 class="title">Trainers</h1>
    </div>
    
    <nav class="bar bar-tab bar-footer">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item active" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </nav>

    <div class="content">
      <ul class="table-view">
        <li class="table-view-cell">
          <div class="curtain"></div>
          <div class="item-image">
            <img class="media-object back" src="../../img/trainers/window-bg.png" />
            <img class="media-object front" src="../../img/trainers/katia.png"/>
          </div>
          <div class="main-title">
            <span class="main">
              Katia Pryce
            </span>
            <span class="sub">
              Dance and sculpting specialist
            </span>
          </div>
        </li>
        <li class="table-view-cell">
          <div class="curtain"></div>
          <div class="item-image">
            <img class="media-object back" src="../../img/trainers/window-bg.png" />
            <img class="media-object front" src="../../img/trainers/adam.png"/>
          </div>
          <div class="main-title">
            <span class="main">
              Adam Rosante
            </span>
            <span class="sub">
              Cardio and strength expert
            </span>
          </div>
        </li>
        <li class="table-view-cell">
          <div class="curtain"></div>
          <div class="item-image">
            <img class="media-object back" src="../../img/trainers/window-bg.png" />
            <img class="media-object front" src="../../img/trainers/astrid.png"/>
          </div>
          <div class="main-title">
            <span class="main">
              Astrid Swan McGuire
            </span>
            <span class="sub">
              Boot camp and cardio trainer
            </span>
          </div>
        </li>
        <li class="table-view-cell">
          <div class="curtain"></div>
          <div class="item-image">
            <img class="media-object back" src="../../img/trainers/window-bg.png" />
            <img class="media-object front" src="../../img/trainers/smith.png"/>
          </div>
          <div class="main-title">
            <span class="main">
              Don Saladino
            </span>
            <span class="sub">
              Strength and conditioning specialist
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- // <script type="text/javascript" src="../../js/ratchet.min.js"></script> -->
</body>
</html>