<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Cosmobody</title>
  
  <meta name="viewport" content="initial-scale=1, maximum-scale=1"> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="../../css/main.min.css">
  <script type="text/javascript" src="../../js/ratchet.min.js"></script>

</head>
<body>

  <header class="bar bar-nav">
    <a class="icon icon-bars pull-left" href="../settings/settings.html"></a>
    <a class="icon icon-search pull-right" href="tab-search.html"></a>
    <h1 class="title">What's new</h1>
  </header>

  <nav class="bar bar-tab bar-footer">
    <a class="tab-item active" href="tab-home.html">
      <span class="icon-dash icon-block"></span>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="tab-workouts.html">
      <span class="icon-workouts icon-block"></span>
      <span class="tab-label">Workouts</span>
    </a>
    <a class="tab-item" href="tab-programs.html">
      <span class="icon-programs icon-block"></span>
      <span class="tab-label">Programs</span>
    </a>
    <a class="tab-item" href="tab-trainers.html">
      <span class="icon-trainers icon-block"></span>
      <span class="tab-label">Trainers</span>
    </a>
    <a class="tab-item" href="tab-history.html">
      <span class="icon-history icon-block"></span>
      <span class="tab-label">My history</span>
    </a>
  </nav>

  <div class="content tab-videos">
    <ul class="table-view">
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/home/preview-1.jpg" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/home/preview-2.jpg" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/home/preview-3.jpg" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/home/preview-4.jpg" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/home/preview-5.jpg" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>