<!DOCTYPE html>
<html>
<head>
  <title>Workouts - Cardio</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="../../css/main.min.css">
  <script type="text/javascript" src="../../js/ratchet.min.js"></script>
</head>
<body>
  <div class="bar bar-nav">
    <a class="icon icon-bars pull-left" href="../settings/settings.html"></a>
    <a class="icon icon-search pull-right" href="tab-search.html"></a>
    <h1 class="title">Cardio</h1>
  </div>

  <nav class="bar bar-tab bar-footer">
    <div class="tabs">
      <a class="tab-item" href="tab-home.html">
        <span class="icon-dash icon-block"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item active" href="tab-workouts.html">
        <span class="icon-workouts icon-block"></span>
        <span class="tab-label">Workouts</span>
      </a>
      <a class="tab-item" href="tab-programs.html">
        <span class="icon-programs icon-block"></span>
        <span class="tab-label">Programs</span>
      </a>
      <a class="tab-item" href="tab-trainers.html">
        <span class="icon-trainers icon-block"></span>
        <span class="tab-label">Trainers</span>
      </a>
      <a class="tab-item" href="tab-history.html">
        <span class="icon-history icon-block"></span>
        <span class="tab-label">My history</span>
      </a>
    </div>
  </nav>

  <div class="content tab-videos">
    <ul class="table-view">
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-1.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-2.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-3.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-4.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-5.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
      <li class="table-view-cell">
        <img class="media-object pull-left" src="../../img/workouts/cardio/preview-6.jpg" width="100" />
        <div class="item time-duration">
          11:40
        </div>
        <div class="media-body">
          <span class="main-title">Score Flat Abs Fast!</span>
          <span class="sub-title">Intermediate</span>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
